body {
  background: #f6c1cc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.card {
  background: #fff;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  width: 300px;
}

.icon {
  width: 80px;
  margin-bottom: 10px;
}

.buttons {
  margin-top: 20px;
}

#yes {
  background: #ff4
